body {
  background: #F6FCFF;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #AAA;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background: transparent;
  border: none;
  color: #000;
  transition: 0.4s;
  font-size: 1Rem;
  cursor: pointer;
  font-family: "Montserrat", sans-seri;
}

a:hover,
nav button:hover {
  color: #BBB;
}

/* form styles */
form {
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label span {
  margin-bottom: 0.3rem;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #CCC;
  padding: 0.8rem 0;
  background: transparent;
}

input::placeholder,
textarea::placeholder {
  color: #AAA;
}

.btn {
  border: none;
  color: #FFF;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
}

.btn.btn-primary {
  background: #2dc02d;
}

.btn.btn-dark {
  background: #000;
}

.btn.btn-outline {
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

.btn.btn.btn-primary:hover {
  background: #0F730C;
}

.btn.btn-outline:hover {
  background: #000;
  color: #FFF;
}

.btn.btn-danger {
  background: #ca0b0b;
  border: none;
  color: #FFF;
}

.btn.btn-danger:hover {
  background: #DC3545;
}

button[disabled] {
  background: #AAA;
}

.container .error {
  color: #721c24;
  background: #f8D7DA;
  border: 1px solid #F5C6CB;
  padding: 5px;
  border-radius: 5px;
}